.information-row {
  margin-bottom: 16px;

  .information-item {
    width: 100%;
  }

  .title {
    color: rgba(0,0,0,.54);
    font-size: 14px;
    margin-bottom: 5px;
  }
  .information {
    font-size: 18px;
  }
}
