:host {
  position: relative;
  display: block;
}

md-form-field {
  width: 100%;
}


input[type="file"] {
  display: none;
}
.choose-file-label {
  display: inline-block;
  padding: 0 16px;
  min-width: 88px;
  line-height: 36px;
  background: #ff4081;
  color: white;
  font-weight: 300;
  box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12);
  border-radius: 2px;
  md-icon {
    margin-right: 10px;
  }
}
.actions {
  margin-top: 16px;
}

.backdrop {
  position: absolute;
  left: -50px;
  right: -50px;
  top: -50px;
  bottom: -50px;
  background: rgba(0, 0, 0, 0.4);
}
