<md-card>
  <agm-map [latitude]="item.location.lat" [longitude]="item.location.lng">
    <agm-marker
      *ngFor="let i of item.locationsHistory"
      [latitude]="i.location.lat"
      [longitude]="i.location.lng"
      [visible]="selectedLocation ? i === selectedLocation : true"
    ></agm-marker>
  </agm-map>
  <md-card-content>
    <h3>{{item.title}} location history</h3>
    <md-list (mouseout)="dropSelectedLocation($event)">
      <md-list-item *ngFor="let i of item.locationsHistory" (mouseenter)="selectLocation(i)">
        <md-icon mdListIcon>my_location</md-icon>
        <h3 mdLine>
          {{i.title}}
          <ng-container *ngIf="i.location.lat === item.location.lat && i.location.lng === item.location.lng">
            (current)
          </ng-container>
        </h3>
      </md-list-item>
    </md-list>
  </md-card-content>
</md-card>
