<div class="events-container">
  <div class="timeline-item"
    fxLayout="row"
    *ngFor="let action of (process$ | async)?.actions; first as isFirst; last as isLast"
    [ngClass]="{'active': action.active}"
  >
    <div class="timeline-icon">
      <md-icon>home</md-icon>
    </div>
    <div class="timeline-item-line" [ngClass]="{'first': isFirst, 'last': isLast}"></div>
    <div class="marker"></div>

    <div class="timeline-item-content" fxLayout="row">
      <div class="main">
        <h3>{{action.title}}</h3>
        <span>{{action.actor.title}}</span>
        <div class="description">
          Firm24 maakt de offerte op, aan de hand van uw omschrijving
        </div>
      </div>
      <div class="date">
        <span *ngIf="action.finished">{{action.response_date | date}}</span>
        <span *ngIf="action.active">{{action.activation_date | date}}</span>
        <span *ngIf="!action.finished && !action.active">No due date</span>
      </div>
    </div>
  </div>
</div>
