$lineBorderRadius: 14px;
.timeline-item {
  padding: 20px 16px;
  position: relative;
  color: rgba(0,0,0,0.54);
  min-height: 60px;

  &:hover {
    background:rgba(0, 0, 0, 0.01);
  }

  &.active {
    background:rgba(0, 0, 0, 0.1);
  }
}

.timeline-icon {
  position: absolute;

}

.timeline-item-line {
  left: 57px;
  position: absolute;
  top: 0;
  bottom: -32px;
  width: 14px;
  z-index: 1;
  background: #3f51b5;

  &::after {
    content: '';
    display: block;
    position: absolute;
    background: rgba(255,255,255,.8);
    width: 10px;
    height: 10px;
    bottom: -5px;
    left: 2px;
    border-radius: 50%;
    z-index: 2;
  }

  &.first {
    top: 23px;
    border-top-left-radius: $lineBorderRadius;
    border-top-right-radius: $lineBorderRadius;
  }

  &.last {
    height: 40px;
    border-bottom-left-radius: $lineBorderRadius;
    border-bottom-right-radius: $lineBorderRadius;

    &::after {
      display: none;
    }
  }

  &.finished {
    background: #64B5F6;
  }
}

.segment-divider {
  background: rgba(255,255,255,0.54);
  border-radius: 5px;
  height: 10px;
}

.timeline-item-content {
  margin-left: 80px;
  position: relative;
}

h3 {
  margin-top: 0;
  margin-bottom: 1px;
}

md-card-content {
  margin-left: -24px;
  margin-right: -24px;
}

.description {
  padding: 16px;
}

.date {
  text-align: right;
  width: 90px;
  min-width: 90px;
  font-size: 12px;
}
