<div class="events-container" *ngIf="process">
  <div class="timeline-item"
    fxLayout="row"
    *ngFor="let action of process.actions; first as isFirst; last as isLast; index as i"
    [ngClass]="{'active': action.active}"
    [ngStyle]="{'z-index': process.actions.length - i}"
  >
    <div class="timeline-icon">
      <md-icon>{{action.icon}}</md-icon>
    </div>
    <div class="timeline-item-line" [ngClass]="{'first': isFirst, 'last': isLast, 'finished': action.finished}"></div>

    <div class="timeline-item-content" fxLayout="row" fxFlex="1 1 auto">
      <div class="main" fxFlex="1 1 auto">
        <h3>{{action.title}}</h3>
        <span>{{action.actor.title}}</span>
        <div class="description" *ngIf="action.description">
          {{action.description}}
        </div>
      </div>
      <div class="date">
        <span *ngIf="action.finished">{{action.response_date | date}}</span>
        <span *ngIf="action.active">{{action.activation_date | date}}</span>
        <span *ngIf="!action.finished && !action.active">No due date</span>
      </div>
    </div>
  </div>
</div>
