/* You can add global styles to this file, and also import other style files */

@import "~@angular/material/prebuilt-themes/indigo-pink.css";
html,
body {
  margin: 0;
  padding: 0;
  background: #f2f2f2;
  font-family: "Helvetica Neue", "Calibri Light", Roboto, sans-serif !important;
}
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  font-family: "Helvetica Neue", "Calibri Light", Roboto, sans-serif !important;
}

html,
body,
material-app,
md-sidenav-container {
  margin: 0;
  width: 100%;
  height: 100%;
}

.mat-drawer-content {
  // Transform makes imposible to use position: flex for children
  // we need it because FAB and app-navbar
  transform: none !important;
}

md-sidenav-container {
  transform: none !important;
  .mat-drawer-backdrop {
    z-index: 999;
  }
  md-sidenav {
    z-index: 10000 !important;
  }

  // All second level sidenavs should be lower in z-index
  // than navigaton
  md-sidenav-container {
    md-sidenav {
      z-index: 10!important;
    }
  }
}

.content {
  max-width: 1250px;
  width: 100%;
  padding: 0 20px;
  margin: 0 auto 0 auto;
  box-sizing: border-box;
}

