<div class="background"></div>
<md-toolbar color="primary" class="application-navbar">
  <a routerLink="/home" class="brand">Blockathon</a>
</md-toolbar>
<div class="content container" fxLayout="column" fxLayout.xs="column" fxLayoutGap="16px" *ngIf="process">
  <div fxLayout="row" fxLayoutGap="16px" class="container" fxLayout.xs="column">
    <div fxLayout="column" fxLayoutGap="16px" fxFlex="1 1 auto">
      <app-details-card [item]="process.item"></app-details-card>
      <app-location-history-card [item]="process.item"></app-location-history-card>
      <app-chart-card [finance]="process.finance"></app-chart-card>
    </div>

    <md-card class="tabbed-card" fxFlex="1 1 auto">
      <md-card-title>
        Timeline
        <span fxFlex="1 1 auto"></span>
      </md-card-title>
      <md-card-content>
        <app-timeline [process]="process"></app-timeline>
      </md-card-content>
    </md-card>
  </div>
</div>
<button md-fab (click)="showSource()">
  <md-icon>description</md-icon>
</button>
<div class="transition-ripple" [ngClass]="{'full': sourceVisible}"></div>
<div class="source-view" [ngClass]="{'visible': sourceVisible}">
  <md-toolbar color="accent" class="mat-elevation-z6">
    <button md-icon-button (click)="hideSource()">
      <md-icon>close</md-icon>
    </button>
  </md-toolbar>
  <div class="content">
    <md-card>
      <md-card-title>Source</md-card-title>
      <md-card-content>
        <pre>{{process?.source | json}}</pre>
      </md-card-content>
    </md-card>
  </div>
</div>
