<div class="background"></div>
<md-toolbar color="primary" class="application-navbar">
  <a routerLink="/home" class="brand">Blockathon</a>
</md-toolbar>
<div class="content container" fxLayout="column" fxLayout.xs="column" fxLayoutGap="16px">
  <div fxLayout="row" fxLayoutGap="16px" class="container" fxLayout.xs="column">
    <div fxLayout="column" fxLayoutGap="16px" fxFlex="1 1 auto">
      <app-location-card fxFlex="1 1 auto"></app-location-card>
      <app-chart-card fxFlex="1 1 auto"></app-chart-card>
      <md-card fxFlex="1 1 auto">
        <md-card-title>Current task</md-card-title>
        <md-card-subtitle>Something</md-card-subtitle>
        <md-card-content>
          Description of current task. Maybe something else.
        </md-card-content>
      </md-card>
    </div>

    <md-card class="tabbed-card" fxFlex="1 1 auto">
      <md-card-title>
        Timeline
        <span fxFlex="1 1 auto"></span>
        <md-slide-toggle color="accent" (change)="toggleTimelineSource($event)">Source</md-slide-toggle>
      </md-card-title>
      <md-card-content>
        <app-timeline *ngIf="!showSource" [process]="process$ | async"></app-timeline>
        <div *ngIf="showSource" class="source">
          Some source goes here
        </div>
      </md-card-content>
    </md-card>
  </div>

</div>
