$backdropHeight: 300px;

:host {

  display: block;
}

[md-fab] {
  position: fixed;
  right: 32px;
  bottom: 32px;
  z-index: 999;
}

.application-navbar {
  // position: fixed;
  // top: 0;
  // z-index: 1;
  position: relative;
  z-index: 1;
  margin-bottom: $backdropHeight - 134;

  .brand {
    text-decoration: none;
    color: white;
  }
}

.background {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: $backdropHeight;
  background:#3f51b5;
  z-index: 0;
}

.tabbed-card {
  md-card-content {
    margin-left: -24px;
    margin-right: -24px;
  }
}

.container > * {
  width: 100%;
}
md-card {
  width: 100%;
}

.chart-widget {
  md-card-content {
    display: flex;
    .chart-container {
      display: block;
      max-width: 500px;
    }
  }
}
.transition-ripple {
  position: fixed;
  right:0px;
  bottom: 0px;
  width: 58px;
  height: 58px;
  border-radius: 50%;
  background: #ff4081;
  transition: all cubic-bezier(0.4, 0.0, 1, 1) 0.3s;
  z-index: -1;
  transform: scale(0);
  z-index: 1000;

  &.full {

    transform: scale(100);
  }
}


.source-view {
  position: fixed;
  overflow: auto;
  padding-top: 70px;

  md-toolbar {
    position: fixed;
    top: 0;
    z-index: 100;
  }

  pre {
    overflow: auto;
  }

  transition: all 0.3s;
  opacity: 0;
  &.visible {
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 1001;
    opacity: 1;
    transition-delay: 0.4s;
  }

  md-card {
    box-sizing: border-box;
    margin-top: 50px;
    margin-bottom: 32px;
  }

  /deep/ .mat-tab-labels {
    justify-content: center;
  }
  /deep/ .mat-ink-bar {
    display: none;
  }
  /deep/ .mat-tab-label-active {
    background: rgba(0,0,0,.15);
    font-weight: bold;
  }
}
